<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.prathameshadate.memeworld">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MemeWorld">
        <activity
            android:name="com.prathameshadate.memeworld.Memes"
            android:label="@string/title_activity_main3"
            android:theme="@style/Theme.MemeWorld.NoActionBar"
            android:parentActivityName="com.prathameshadate.memeworld.Home"></activity>
        <activity
            android:name="com.prathameshadate.memeworld.Home"
            android:label="@string/Home"
            android:theme="@style/Theme.MemeWorld.NoActionBar" />
        <activity android:name="com.prathameshadate.memeworld.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>